.cointainer{
    width: 500px;
    margin: 40px auto;
    background-color: rgb(71, 1, 14);
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    color: white;
    border: 3px solid gold;
}
.cc{
    width: 100%;
    box-sizing: border-box;
    padding: 15px 10px;
    font-size: 25px;
    border-radius: 12px;
    outline: none;
    border: none;

}
.btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
button{
   background-color:yellow;
   color: black;
   font-size: 20px;
   border: none;
   margin: 7px;
   font-weight: bolder;
   padding: 10px 15px;
   border-radius: 5px;
   margin-top: 17px;
   box-sizing: border-box;
}
.out{
    background-color: rgb(78, 77, 77);
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px; 
    border-radius: 9px;
    font-size: 22px;
    font-weight: 20px;
}
button:hover{
    background-color: rgb(7, 248, 7);
}
.capital{
    text-transform: uppercase;
}
.lower{
    text-transform: lowercase;
}
.first{
    text-transform: capitalize;
}
.bolder{
    font-weight: bolder;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
.orange{
    color:orange
    
}
@media(max-width:576px){

    .cointainer{
        width: auto
    }
}